@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 12:36:25 AM
    Author     : Norm
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 10:07:22 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno|Roboto:300,300i,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno|Roboto:300,300i,400,500,700");
.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Italianno', cursive;
*/
@font-face {
  font-family: Andulus;
  src: local("D:ÞvelopmentScottishWroughtIronpublic_htmlonts\andalus.ttf");
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1200 - 300)));
}

.block-id-letter {
  /*display: inline;*/
  display: none;
  border: 2px solid black;
  font-size: 1em;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

.signature .signature-block {
  /* Terms */
  font-family: 'IM Fell English SC', serif;
  font-size: 28px;
  color: #000000;
}

.heading {
  text-align: center;
  /* Headlines */
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
  color: #000000;
  font-weight: bold;
}

.sub-heading {
  text-align: center;
  /* Headlines */
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
  color: #000000;
  font-weight: bold;
}

.small-sub-heading {
  text-align: center;
  /* Navigation Menu */
  font-family: 'IM Fell English SC', serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2018, 10:50:08 PM
    Author     : Norm
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 10:07:22 PM
    Author     : Norm
*/
.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Italianno', cursive;
*/
@font-face {
  font-family: Andulus;
  src: local("D:ÞvelopmentScottishWroughtIronpublic_htmlonts\andalus.ttf");
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1200 - 300)));
}

.block-id-letter {
  /*display: inline;*/
  display: none;
  border: 2px solid black;
  font-size: 1em;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

.signature .signature-block {
  /* Terms */
  font-family: 'IM Fell English SC', serif;
  font-size: 28px;
  color: #000000;
}

.heading {
  text-align: center;
  /* Headlines */
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
  color: #000000;
  font-weight: bold;
}

.sub-heading {
  text-align: center;
  /* Headlines */
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
  color: #000000;
  font-weight: bold;
}

.small-sub-heading {
  text-align: center;
  /* Navigation Menu */
  font-family: 'IM Fell English SC', serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}

.back-to-top {
  text-align: right;
}

#footer .footer-block .f .credit-brand {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
}

#footer .footer-block .f .credit-name {
  font-family: "Open Sans", sans-serif;
}

#footer .footer-block .f .credit-tagline {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

#footer .footer-block {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  /*height: 300px;*/
  background-color: #ededed;
  -ms-grid-rows: 60px 100px 30px 150px 30px;
  -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template: 60px 100px 30px 150px 30px / 1fr 1.5fr 1fr;
}

@media screen and (min-width: 400px) {
  #footer .footer-block {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 400px) {
  #footer .footer-block {
    -ms-grid-rows: 100px 30px 150px 30px;
    -ms-grid-columns: 1fr 1.5fr 1fr;
        grid-template: 100px 30px 150px 30px / 1fr 1.5fr 1fr;
        grid-template-areas: "a a a" "aa aa aa" "b c d" "e f g";
  }
}

@media screen and (max-width: 650px) {
  #footer .footer-block {
    -ms-grid-rows: 60px 100px 30px 150px 30px;
    -ms-grid-columns: 1fr 1.5fr 1fr;
        grid-template: 60px 100px 30px 150px 30px / 1fr 1.5fr 1fr;
        grid-template-areas: "h h h" "a a a" "aa aa aa" "b c d" "e f g";
  }
}

#footer .footer-block .block-id-letter {
  display: none;
}

#footer .footer-block .h {
  /*border: 3px solid red;*/
  grid-area: h;
}

#footer .footer-block .h img {
  margin: 0 auto;
  /*padding-left: 35px;*/
  display: none;
}

@media screen and (max-width: 649px) {
  #footer .footer-block .h img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 650px) {
  #footer .footer-block .h img {
    display: none;
  }
}

#footer .footer-block .a {
  /*@include font1;*/
  /*border: 3px solid red;*/
  height: auto;
  /*padding-top: 10px;*/
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-block .a .wide-footer h1 {
  font-family: 'IM Fell English SC', serif;
  color: #000000;
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 620px) and (max-width: 901px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 38px;
  }
}

@media screen and (min-width: 901px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 649px) {
  #footer .footer-block .a .wide-footer h1 {
    /* Headlines */
    font-family: 'IM Fell English SC', serif;
    font-size: 32px;
    /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
    color: #000000;
    font-weight: bold;
  }
}

@media screen and (max-width: 450px) {
  #footer .footer-block .a .wide-footer h1 {
    display: none;
  }
}

#footer .footer-block .a .narrow-footer h1 {
  display: none;
  font-family: 'IM Fell English SC', serif;
  color: #000000;
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 620px) and (max-width: 901px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 38px;
  }
}

@media screen and (min-width: 901px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 450px) {
  #footer .footer-block .a .narrow-footer h1 {
    /*border: 3px solid blue;*/
    display: inherit;
    text-align: center;
  }
}

#footer .footer-block .a .image-big {
  display: inherit;
}

@media screen and (max-width: 650px) {
  #footer .footer-block .a .image-big {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #footer .footer-block .a img {
    display: none;
  }
}

#footer .footer-block .aa {
  /*border: 3px solid red;*/
  grid-area: aa;
  margin: 0 auto;
  /*padding-top: 20px;*/
  /* ORDER */
  font-family: 'Roboto Medium', sans-serif;
  font-size: 19px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}

#footer .footer-block .aa .one-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-block .aa .two-lines {
  display: none;
}

@media screen and (max-width: 400px) {
  #footer .footer-block .aa .one-line {
    display: none;
  }
  #footer .footer-block .aa .two-lines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#footer .footer-block .b {
  grid-area: b;
  /* ORDER */
  font-family: 'Roboto Medium', sans-serif;
  font-size: 19px;
  color: #000000;
  /*      display: flex;
flex-direction: column;
justify-content: center;
align-items: center;*/
  text-align: center;
}

#footer .footer-block .b h3 {
  line-height: 0.75;
}

#footer .footer-block .b .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-block .c {
  grid-area: c;
  /* ORDER */
  font-family: 'Roboto Medium', sans-serif;
  font-size: 19px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-block .c .detail-block .details .name-address {
  /* Paragraph M */
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  color: #000000;
}

@media screen and (max-width: 450px) {
  #footer .footer-block .c .detail-block .details .name-address {
    font-size: 12px;
  }
}

#footer .footer-block .d {
  grid-area: d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#footer .footer-block .d .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-block .e {
  grid-area: e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#footer .footer-block .f {
  grid-area: f;
  text-align: center;
  /*padding-bottom: 20px;*/
  /* Credit */
  font-family: 'Andulus', serif;
  font-size: 19px;
  color: #000000;
  font-size: 14px;
  /*line-height: 0.75;*/
  /*      display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-end;*/
  border: 0px solid red;
}

#footer .footer-block .f a {
  text-decoration: none;
  color: inherit;
}

#footer .footer-block .g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-area: g;
}

#footer .footer-block .g .facebook {
  padding-left: 10px;
}

#footer .footer-block .f {
  padding-top: 10px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #957a2b;
  font-size: 16px;
}

#footer .footer-block .f a {
  text-decoration: none;
  color: #957a2b;
}

#footer .footer-block .f .credit-brand {
  /*font-weight: bold;*/
}

#footer .footer-block .f .credit-name {
  /*font-weight: bold;*/
}

.hardware-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  .heading {
        @include font2;
        text-align: center;
        width: 90%;
      }*/
  /******************************************
      plate-holders
    *******************************************/
  /******************************************
     one-plate-hanger
    *******************************************/
  /******************************************
      bowl-holders
    *******************************************/
}

.hardware-container .big-heading {
  font-family: 'IM Fell English SC', serif;
  color: #000000;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

@media screen and (max-width: 620px) {
  .hardware-container .big-heading {
    font-size: 28px;
  }
}

@media screen and (min-width: 620px) and (max-width: 901px) {
  .hardware-container .big-heading {
    font-size: 38px;
  }
}

@media screen and (min-width: 901px) {
  .hardware-container .big-heading {
    font-size: 48px;
  }
}

.hardware-container .plate-holders,
.hardware-container .plate-hangers {
  display: -ms-grid;
  display: grid;
  width: 80%;
  text-align: center;
  /*margin: 0 auto;*/
  padding-left: 50px;
  background-color: #ededed;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders,
  .hardware-container .plate-hangers {
    padding-left: 0;
  }
}

.hardware-container .plate-holders .heading,
.hardware-container .plate-hangers .heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* Headlines */
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
    font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
  } @else {
    font-size: 32px;
  }*/
  color: #000000;
  font-weight: bold;
}

.hardware-container .plate-holders .copy1,
.hardware-container .plate-holders .copy2,
.hardware-container .plate-hangers .copy1,
.hardware-container .plate-hangers .copy2 {
  text-align: left;
  font-size: 14px;
  display: block;
  padding: 20px;
  /* Paragraphs */
  font-family: 'Roboto Light', sans-serif;
  font-size: 20px;
  /*font-size: 119%;*/
  color: #000000;
}

.hardware-container .plate-holders .copy1 .bold,
.hardware-container .plate-holders .copy2 .bold,
.hardware-container .plate-hangers .copy1 .bold,
.hardware-container .plate-hangers .copy2 .bold {
  font-weight: bold;
}

.hardware-container .plate-holders .copy1 .red-words,
.hardware-container .plate-holders .copy2 .red-words,
.hardware-container .plate-hangers .copy1 .red-words,
.hardware-container .plate-hangers .copy2 .red-words {
  /* Red Words */
  font-family: 'Roboto Bold', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #700707;
  font-weight: bold;
}

.hardware-container .plate-holders .copy1 .item-name,
.hardware-container .plate-holders .copy2 .item-name,
.hardware-container .plate-hangers .copy1 .item-name,
.hardware-container .plate-hangers .copy2 .item-name {
  /* Item Name */
  font-family: 'Roboto Regular', sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders .copy1,
  .hardware-container .plate-holders .copy2,
  .hardware-container .plate-hangers .copy1,
  .hardware-container .plate-hangers .copy2 {
    width: 100%;
  }
}

.hardware-container .plate-holders .box,
.hardware-container .plate-hangers .box {
  background-color: #ededed;
  color: black;
  /*height: 100px;*/
  width: 80%;
  height: auto;
}

.hardware-container .plate-holders .box .item-name,
.hardware-container .plate-hangers .box .item-name {
  /* Item Name */
  font-family: 'Roboto Regular', sans-serif;
  font-size: 24px;
  color: #000000;
}

.hardware-container .plate-holders .box .paragraph,
.hardware-container .plate-hangers .box .paragraph {
  /* Paragraphs */
  font-family: 'Roboto Light', sans-serif;
  font-size: 20px;
  /*font-size: 119%;*/
  color: #000000;
}

.hardware-container .plate-holders .box .paragraph .red-words,
.hardware-container .plate-hangers .box .paragraph .red-words {
  /* Red Words */
  font-family: 'Roboto Bold', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #700707;
}

.hardware-container .plate-holders .box .order,
.hardware-container .plate-hangers .box .order {
  /* ORDER */
  font-family: 'Roboto Medium', sans-serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}

.hardware-container .plate-holders .box .item-name,
.hardware-container .plate-hangers .box .item-name {
  /* Item Name */
  font-family: 'Roboto Regular', sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

.hardware-container .plate-holders .box .item-name0,
.hardware-container .plate-hangers .box .item-name0 {
  color: #700707;
}

.hardware-container .plate-holders .box form,
.hardware-container .plate-hangers .box form {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: left;
  color: black;
}

@media screen and (max-width: 360px) {
  .hardware-container .plate-holders .box form,
  .hardware-container .plate-hangers .box form {
    font-size: 16px;
  }
}

.hardware-container .plate-holders {
  /*border: 3px solid red;*/
  width: 80%;
  padding-left: 25px;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders {
    width: 100%;
  }
}

.hardware-container .plate-holders .picture {
  /*height: 400px;*/
  width: 70vw;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hardware-container .plate-holders .picture img {
  width: 100%;
  height: auto;
}

.hardware-container .plate-holders .heading {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 0) {
  .hardware-container .plate-holders .heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders .heading {
    padding-left: 0;
  }
}

.hardware-container .plate-holders .heart,
.hardware-container .plate-holders .ram,
.hardware-container .plate-holders .scroll {
  justify-items: start;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: left;
  height: 50px;
  width: 80px;
}

.hardware-container .plate-holders .heart img,
.hardware-container .plate-holders .ram img,
.hardware-container .plate-holders .scroll img {
  width: 60%;
  height: 60%;
}

.hardware-container .plate-holders .models {
  padding-right: 15px;
  margin: 15px;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
}

@media screen and (max-width: 650px) {
  .hardware-container .plate-holders .models {
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders .models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    width: 250px;
    height: 75px;
  }
}

.hardware-container .plate-holders .buy-it {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  width: auto;
  text-align: left;
  -ms-grid-column-align: left;
      justify-self: left;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-holders .buy-it {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: 25px;
  }
}

@media screen and (max-width: 360px) {
  .hardware-container .plate-holders .buy-it {
    font-size: 16px;
  }
}

.hardware-container .plate-holders .buy-it table {
  /*border: 1px solid black;*/
}

.hardware-container .plate-holders .buy-it table tr td {
  /*border: 1px solid black;*/
}

.hardware-container .plate-hangers {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .hardware-container .plate-hangers {
    width: 100%;
  }
}

.hardware-container .plate-hangers .heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.hardware-container .plate-hangers .copy1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.hardware-container .plate-hangers .copy6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.hardware-container .plate-hangers .picture {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.hardware-container .plate-hangers .picture2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-hangers .picture2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.hardware-container .plate-hangers .picture6b {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .hardware-container .plate-hangers .picture6b {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
  }
}

.hardware-container .plate-hangers .heart,
.hardware-container .plate-hangers .ram,
.hardware-container .plate-hangers .scroll,
.hardware-container .plate-hangers .spade {
  justify-items: start;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: left;
  height: 60px;
  width: 80px;
  padding-bottom: 25px;
}

@media screen and (max-width: 400px) {
  .hardware-container .plate-hangers .heart,
  .hardware-container .plate-hangers .ram,
  .hardware-container .plate-hangers .scroll,
  .hardware-container .plate-hangers .spade {
    width: 50px;
  }
}

.hardware-container .plate-hangers .heart img,
.hardware-container .plate-hangers .ram img,
.hardware-container .plate-hangers .scroll img,
.hardware-container .plate-hangers .spade img {
  width: 60%;
  height: 60%;
}

.hardware-container .plate-hangers .models {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: auto;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-hangers .models {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hardware-container .plate-hangers .copy2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.hardware-container .plate-hangers .buy-it {
  padding-left: 15px;
  padding-left: 50px;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  width: auto;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: auto;
}

.hardware-container .plate-hangers .buy-it .block6-info {
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .hardware-container .plate-hangers .buy-it {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media screen and (max-width: 360px) {
  .hardware-container .plate-hangers .buy-it {
    font-size: 16px;
  }
}

.hardware-container .plate-hangers .buy-it table {
  /*border: 1px solid black;*/
}

.hardware-container .plate-hangers .buy-it table tr td {
  /*border: 1px solid black;*/
}

.hardware-container .plate-hangers .buy-it6 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.hardware-container .bowl-holders {
  display: block;
}
/*# sourceMappingURL=plateHangers.css.map */