@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 12:36:25 AM
    Author     : Norm
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 10:07:22 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno|Roboto:300,300i,400,500,700");
/*
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Italianno', cursive;
*/
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno|Roboto:300,300i,400,500,700");
@font-face {
  font-family: Andulus;
  src: local("D:ÞvelopmentScottishWroughtIronpublic_html\fonts\andalus\2.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1200 - 300)));
}

.block-id-letter {
  /*display: inline;*/
  display: none;
  border: 2px solid black;
  font-size: 1em;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

.signature .signature-block {
  /* Terms */
  font-family: "IM Fell English SC", serif;
  font-size: 28px;
  color: #000000;
}

.heading {
  text-align: center;
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}

.sub-heading {
  text-align: center;
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}

.small-sub-heading {
  text-align: center;
  /* Navigation Menu */
  font-family: "IM Fell English SC", serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2018, 10:50:08 PM
    Author     : Norm
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 10:07:22 PM
    Author     : Norm
*/
/*
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Italianno', cursive;
*/
@font-face {
  font-family: Andulus;
  src: local("D:ÞvelopmentScottishWroughtIronpublic_html\fonts\andalus\2.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1200 - 300)));
}

.block-id-letter {
  /*display: inline;*/
  display: none;
  border: 2px solid black;
  font-size: 1em;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

.signature .signature-block {
  /* Terms */
  font-family: "IM Fell English SC", serif;
  font-size: 28px;
  color: #000000;
}

.heading {
  text-align: center;
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}

.sub-heading {
  text-align: center;
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}

.small-sub-heading {
  text-align: center;
  /* Navigation Menu */
  font-family: "IM Fell English SC", serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}

/*@import "header.scss";*/
.back-to-top {
  text-align: right;
}

#footer {
  /*border: 3px solid red;*/
}
#footer .footer-block {
  padding-top: 15px;
  width: 100%;
  /*height: 300px;*/
  background-color: #EDEDED;
  grid-template: 60px 100px 30px 150px 30px/1fr 1.5fr 1fr;
}
@media screen and (min-width: 400px) {
  #footer .footer-block {
    display: grid;
  }
}
@media screen and (min-width: 400px) {
  #footer .footer-block {
    grid-template: 100px 30px 150px 30px/1fr 1.5fr 1fr;
    grid-template-areas: "a a a" "aa aa aa" "b c d" "e f g";
  }
}
@media screen and (max-width: 650px) {
  #footer .footer-block {
    grid-template: 60px 100px 30px 150px 30px/1fr 1.5fr 1fr;
    grid-template-areas: "h h h" "a a a" "aa aa aa" "b c d" "e f g";
  }
}
#footer .footer-block .block-id-letter {
  display: none;
}
#footer .footer-block .box {
  /*border: solid 3px blue;*/
}
#footer .footer-block .h {
  /*border: 3px solid red;*/
  grid-area: h;
}
#footer .footer-block .h img {
  margin: 0 auto;
  /*padding-left: 35px;*/
  display: none;
}
@media screen and (max-width: 649px) {
  #footer .footer-block .h img {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 650px) {
  #footer .footer-block .h img {
    display: none;
  }
}
#footer .footer-block .a {
  /*@include font1;*/
  /*border: 3px solid red;*/
  height: auto;
  /*padding-top: 10px;*/
  grid-area: a;
  display: flex;
  justify-content: center;
  /*      .image-small {
          display: none;
          @include max-mixin(625px) {
            display: inherit;
          }
        }*/
}
#footer .footer-block .a .wide-footer h1 {
  font-family: "IM Fell English SC", serif;
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 620px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 620px) and (max-width: 901px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 901px) {
  #footer .footer-block .a .wide-footer h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 649px) {
  #footer .footer-block .a .wide-footer h1 {
    /* Headlines */
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
    /*  @if $fontUsePercent == true {
        font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
      } @else {
        font-size: 32px;
      }*/
    color: #000000;
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  #footer .footer-block .a .wide-footer h1 {
    display: none;
  }
}
#footer .footer-block .a .narrow-footer h1 {
  display: none;
  font-family: "IM Fell English SC", serif;
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 620px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 620px) and (max-width: 901px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 901px) {
  #footer .footer-block .a .narrow-footer h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 450px) {
  #footer .footer-block .a .narrow-footer h1 {
    /*border: 3px solid blue;*/
    display: inherit;
    text-align: center;
  }
}
#footer .footer-block .a .image-big {
  display: inherit;
}
@media screen and (max-width: 650px) {
  #footer .footer-block .a .image-big {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #footer .footer-block .a img {
    display: none;
  }
}
#footer .footer-block .aa {
  /*border: 3px solid red;*/
  grid-area: aa;
  margin: 0 auto;
  /*padding-top: 20px;*/
  /* ORDER */
  font-family: "Roboto Medium", sans-serif;
  font-size: 19px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}
#footer .footer-block .aa .one-line {
  display: flex;
  justify-content: center;
}
#footer .footer-block .aa .two-lines {
  display: none;
}
@media screen and (max-width: 400px) {
  #footer .footer-block .aa .one-line {
    display: none;
  }
  #footer .footer-block .aa .two-lines {
    display: flex;
    justify-content: center;
  }
}
#footer .footer-block .b {
  grid-area: b;
  /* ORDER */
  font-family: "Roboto Medium", sans-serif;
  font-size: 19px;
  color: #000000;
  /*      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
  text-align: center;
}
#footer .footer-block .b h3 {
  line-height: 0.75;
}
#footer .footer-block .b .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-block .c {
  grid-area: c;
  /* ORDER */
  font-family: "Roboto Medium", sans-serif;
  font-size: 19px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-block .c .detail-block .details .name-address {
  /* Paragraph M */
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  color: #000000;
}
@media screen and (max-width: 450px) {
  #footer .footer-block .c .detail-block .details .name-address {
    font-size: 12px;
  }
}
#footer .footer-block .d {
  grid-area: d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
#footer .footer-block .d .facebook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-block .e {
  grid-area: e;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
#footer .footer-block .f {
  grid-area: f;
  text-align: center;
  /*padding-bottom: 20px;*/
  /* Credit */
  font-family: "Andulus", serif;
  font-size: 19px;
  color: #000000;
  font-size: 14px;
  /*line-height: 0.75;*/
  /*      display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;*/
}
#footer .footer-block .g {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  grid-area: g;
}
#footer .footer-block .g .facebook {
  padding-left: 10px;
}

.hardware-container {
  padding-left: 25px;
  /*  .heading {
      @include font2;
      text-align: center;
      width: 90%;
    }*/
  /******************************************
    plate-holders
  *******************************************/
  /******************************************
   one-plate-hanger
  *******************************************/
  /******************************************
    two-plate-hanger
  *******************************************/
  /******************************************
    five-plate-hanger
  *******************************************/
  /******************************************
    bowl-holders
  *******************************************/
  /* hw-block3 */
}
.hardware-container .big-heading {
  font-family: "IM Fell English SC", serif;
  color: #000000;
  font-weight: bold;
  text-align: center;
  width: 90%;
}
@media screen and (max-width: 620px) {
  .hardware-container .big-heading {
    font-size: 28px;
  }
}
@media screen and (min-width: 620px) and (max-width: 901px) {
  .hardware-container .big-heading {
    font-size: 38px;
  }
}
@media screen and (min-width: 901px) {
  .hardware-container .big-heading {
    font-size: 48px;
  }
}
.hardware-container .plate-holders, .hardware-container .one-plate-hanger, .hardware-container .two-plate-hanger, .hardware-container .five-plate-hanger, .hardware-container .bowl-holders {
  border: 3px solid red;
  display: grid;
  width: 90%;
  text-align: center;
  /*margin: 0 auto;*/
  background-color: #EDEDED;
}
.hardware-container .plate-holders .heading, .hardware-container .one-plate-hanger .heading, .hardware-container .two-plate-hanger .heading, .hardware-container .five-plate-hanger .heading, .hardware-container .bowl-holders .heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}
.hardware-container .plate-holders .copy, .hardware-container .one-plate-hanger .copy, .hardware-container .two-plate-hanger .copy, .hardware-container .five-plate-hanger .copy, .hardware-container .bowl-holders .copy {
  text-align: left;
  font-size: 14px;
  display: block;
  float: left;
  padding: 20px;
  padding: 10px 20px 10px 20px;
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
  /*      .line1 {
          color: red;
        }*/
  /*      .order-link {
          font-weight: bold;
          font-size: 20px;
          text-align: center;
        }*/
}
.hardware-container .plate-holders .copy .bold, .hardware-container .one-plate-hanger .copy .bold, .hardware-container .two-plate-hanger .copy .bold, .hardware-container .five-plate-hanger .copy .bold, .hardware-container .bowl-holders .copy .bold {
  font-weight: bold;
}
.hardware-container .plate-holders .copy .red-words, .hardware-container .one-plate-hanger .copy .red-words, .hardware-container .two-plate-hanger .copy .red-words, .hardware-container .five-plate-hanger .copy .red-words, .hardware-container .bowl-holders .copy .red-words {
  /* Red Words */
  font-family: "Roboto Bold", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #700707;
  font-weight: bold;
}
.hardware-container .plate-holders .copy .item-name, .hardware-container .one-plate-hanger .copy .item-name, .hardware-container .two-plate-hanger .copy .item-name, .hardware-container .five-plate-hanger .copy .item-name, .hardware-container .bowl-holders .copy .item-name {
  /* Item Name */
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .hardware-container .plate-holders, .hardware-container .one-plate-hanger, .hardware-container .two-plate-hanger, .hardware-container .five-plate-hanger, .hardware-container .bowl-holders {
    display: block;
  }
}
.hardware-container .plate-holders .box, .hardware-container .one-plate-hanger .box, .hardware-container .two-plate-hanger .box, .hardware-container .five-plate-hanger .box, .hardware-container .bowl-holders .box {
  background-color: #EDEDED;
  color: black;
  border: 3px solid red;
  /*height: 100px;*/
}
.hardware-container .plate-holders .box .item-name, .hardware-container .one-plate-hanger .box .item-name, .hardware-container .two-plate-hanger .box .item-name, .hardware-container .five-plate-hanger .box .item-name, .hardware-container .bowl-holders .box .item-name {
  /* Item Name */
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  color: #000000;
}
.hardware-container .plate-holders .box .paragraph, .hardware-container .one-plate-hanger .box .paragraph, .hardware-container .two-plate-hanger .box .paragraph, .hardware-container .five-plate-hanger .box .paragraph, .hardware-container .bowl-holders .box .paragraph {
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
}
.hardware-container .plate-holders .box .paragraph .red-words, .hardware-container .one-plate-hanger .box .paragraph .red-words, .hardware-container .two-plate-hanger .box .paragraph .red-words, .hardware-container .five-plate-hanger .box .paragraph .red-words, .hardware-container .bowl-holders .box .paragraph .red-words {
  /* Red Words */
  font-family: "Roboto Bold", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #700707;
}
.hardware-container .plate-holders .box .order, .hardware-container .one-plate-hanger .box .order, .hardware-container .two-plate-hanger .box .order, .hardware-container .five-plate-hanger .box .order, .hardware-container .bowl-holders .box .order {
  /* ORDER */
  font-family: "Roboto Medium", sans-serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}
.hardware-container .plate-holders .box .item-name, .hardware-container .one-plate-hanger .box .item-name, .hardware-container .two-plate-hanger .box .item-name, .hardware-container .five-plate-hanger .box .item-name, .hardware-container .bowl-holders .box .item-name {
  /* Item Name */
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}
.hardware-container .plate-holders .box form, .hardware-container .one-plate-hanger .box form, .hardware-container .two-plate-hanger .box form, .hardware-container .five-plate-hanger .box form, .hardware-container .bowl-holders .box form {
  justify-self: end;
  text-align: right;
  color: red;
}
.hardware-container .one-plate-hanger .e .f, .hardware-container .one-plate-hanger .g, .hardware-container .one-plate-hanger .h, .hardware-container .one-plate-hanger .i, .hardware-container .two-plate-hanger .e .f, .hardware-container .two-plate-hanger .g, .hardware-container .two-plate-hanger .h, .hardware-container .two-plate-hanger .i, .hardware-container .five-plate-hanger .e .f, .hardware-container .five-plate-hanger .g, .hardware-container .five-plate-hanger .h, .hardware-container .five-plate-hanger .i {
  /*border: 3px solid red;*/
  width: 80%;
  display: block;
}
.hardware-container .one-plate-hanger .e .f img, .hardware-container .one-plate-hanger .g img, .hardware-container .one-plate-hanger .h img, .hardware-container .one-plate-hanger .i img, .hardware-container .two-plate-hanger .e .f img, .hardware-container .two-plate-hanger .g img, .hardware-container .two-plate-hanger .h img, .hardware-container .two-plate-hanger .i img, .hardware-container .five-plate-hanger .e .f img, .hardware-container .five-plate-hanger .g img, .hardware-container .five-plate-hanger .h img, .hardware-container .five-plate-hanger .i img {
  /*border: 3px solid red;*/
  /*padding-top: 15px;*/
  height: 70px;
  width: 70%;
}
@media screen and (max-width: 700px) {
  .hardware-container .one-plate-hanger .e .f, .hardware-container .one-plate-hanger .g, .hardware-container .one-plate-hanger .h, .hardware-container .one-plate-hanger .i, .hardware-container .two-plate-hanger .e .f, .hardware-container .two-plate-hanger .g, .hardware-container .two-plate-hanger .h, .hardware-container .two-plate-hanger .i, .hardware-container .five-plate-hanger .e .f, .hardware-container .five-plate-hanger .g, .hardware-container .five-plate-hanger .h, .hardware-container .five-plate-hanger .i {
    /*width: 15%;*/
    /*height: 35%;*/
    display: inline;
  }
}
@media screen and (max-width: 700px) {
  .hardware-container .one-plate-hanger .e .f img, .hardware-container .one-plate-hanger .g img, .hardware-container .one-plate-hanger .h img, .hardware-container .one-plate-hanger .i img, .hardware-container .two-plate-hanger .e .f img, .hardware-container .two-plate-hanger .g img, .hardware-container .two-plate-hanger .h img, .hardware-container .two-plate-hanger .i img, .hardware-container .five-plate-hanger .e .f img, .hardware-container .five-plate-hanger .g img, .hardware-container .five-plate-hanger .h img, .hardware-container .five-plate-hanger .i img {
    width: 10%;
    height: 10%;
  }
}
.hardware-container .one-plate-hanger .f, .hardware-container .two-plate-hanger .f, .hardware-container .five-plate-hanger .f {
  grid-area: heart;
}
.hardware-container .one-plate-hanger .g, .hardware-container .two-plate-hanger .g, .hardware-container .five-plate-hanger .g {
  grid-area: ram;
}
.hardware-container .one-plate-hanger .h, .hardware-container .two-plate-hanger .h, .hardware-container .five-plate-hanger .h {
  grid-area: scroll;
}
.hardware-container .one-plate-hanger .i, .hardware-container .two-plate-hanger .i, .hardware-container .five-plate-hanger .i {
  grid-area: tear;
}
.hardware-container .plate-holders {
  /*border: 3px solid red;*/
  min-height: 550px;
  /*height: 525px;*/
  /*grid-template: repeat(4, 90px)  / 55% 1fr 1fr 1fr 1fr 1fr;*/
  grid-template: 1.5fr 1fr 1fr 1fr/55% 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text text text text" "plates cart cart cart blank" "plates cart cart cart blank" "plates cart cart cart blank" "plates heart ram scroll blank";
}
.hardware-container .plate-holders .a {
  /*height: 400px;*/
  grid-area: plates;
  align-self: center;
}
.hardware-container .plate-holders .b {
  /*border: 3px  solid red;*/
  grid-area: text;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  .hardware-container .plate-holders .b {
    padding-left: 0;
  }
}
.hardware-container .plate-holders .b .p {
  /*border: 3px  solid red;*/
  padding-left: 20px;
}
.hardware-container .plate-holders .c, .hardware-container .plate-holders .d, .hardware-container .plate-holders .e {
  /*border: 3px  solid red;*/
  justify-items: start;
  /*align-self: center;*/
  /*height: 40px;*/
  display: block;
}
@media screen and (max-width: 700px) {
  .hardware-container .plate-holders .c img, .hardware-container .plate-holders .d img, .hardware-container .plate-holders .e img {
    /*width: 20%;*/
    width: 10%;
    height: 10%;
  }
}
.hardware-container .plate-holders .c {
  grid-area: heart;
}
.hardware-container .plate-holders .d {
  grid-area: ram;
}
.hardware-container .plate-holders .d img {
  padding-top: 5px;
}
.hardware-container .plate-holders .e {
  grid-area: scroll;
}
.hardware-container .plate-holders .e img {
  /*padding-top: 5px;*/
}
.hardware-container .plate-holders .f {
  /*border: 4px  solid red;*/
  grid-area: cart;
  padding-left: 15px;
  height: 75%;
  text-align: left;
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
}
.hardware-container .plate-holders .f table {
  /*border: 1px solid black;*/
}
.hardware-container .plate-holders .f table tr td {
  /*border: 1px solid black;*/
}
.hardware-container .one-plate-hanger {
  /*border: 3px solid blue;*/
  grid-template: 0.6fr 1fr 1fr 1fr 0.5fr/repeat(6, 1fr);
  grid-template-areas: "heading heading heading heading heading heading heading " "plate1    plate1    plate1    text       text        cart      cart" "plate1 plate1 plate1 text text cart cart" "plate1 plate1 plate1 text text cart cart" "plate1 plate1 plate1 heart ram scroll tear";
}
.hardware-container .one-plate-hanger .box {
  background-color: #EDEDED;
  color: black;
  /*border: 3px solid blue;*/
}
.hardware-container .one-plate-hanger .aa {
  grid-area: heading;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hardware-container .one-plate-hanger .a {
  /*border: 3px solid red;*/
  grid-area: plate1;
}
.hardware-container .one-plate-hanger .b {
  grid-area: text;
}
.hardware-container .one-plate-hanger .c {
  grid-area: cart;
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
  text-align: left;
  padding-left: 20px;
}
.hardware-container .one-plate-hanger .d {
  grid-area: plate5;
}
.hardware-container .two-plate-hanger {
  /*border: 3px blue solid;*/
  /*grid-template: .7fr 1fr 1fr 1.5fr 1fr / repeat(8, 1fr);*/
  grid-template: 0.7fr 1fr 1fr 1fr 1fr/repeat(8, 1fr);
  grid-template-areas: "heading heading heading heading heading heading heading heading" "text text text cart cart plates plates plates" "text text text cart cart plates plates plates" "text text text ram heart scroll tear blank ";
  /*        <div class="box f"><span class="block-id-letter">F</span>
            Heart
            <img src="./images/style_heart1sm.jpg">
          </div>
          <div class="box g"><span class="block-id-letter">G</span>
            Ram
            <img src="./images/style_ram2.jpg">
          </div>
          <div class="box h"><span class="block-id-letter">H</span>
            Scroll
            <img src="./images/style_scroll2.jpg">
          </div>
          <div class="box i"><span class="block-id-letter">I</span>
            Spade
            <img src="./images/style_plain2.jpg">
          </div>*/
  /*    .f {    
        background-image: url("../images/style_heart1sm.jpg");
        background-size: cover;
        height: 90px;
        width: 100px 
      }
      .g {    
        background-image: url("../images/style_ram2.jpg");
        background-size: cover;
        height: 90px;
      }
      .h {    
        background-image: url("../images/style_scroll2.jpg");
        background-size: cover;
        height: 90px;
      }
      .i {    
        background-image: url("../images/style_plain2.jpg");
        background-size: cover;
        height: 90px;
      }*/
}
.hardware-container .two-plate-hanger .box {
  /*background-color: #EDEDED;*/
  color: black;
  /*border-radius: 5px;*/
  /*border: 3px solid red;*/
}
.hardware-container .two-plate-hanger .box .block-id-letter {
  display: none;
}
.hardware-container .two-plate-hanger .box .item-name {
  /*@include font9;*/
}
.hardware-container .two-plate-hanger .aa {
  grid-area: heading;
  padding-top: 3%;
}
.hardware-container .two-plate-hanger .aa .paragraph {
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
}
.hardware-container .two-plate-hanger .aa .paragraph .red-words {
  /*color: red;*/
  /* Red Words */
  font-family: "Roboto Bold", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #700707;
}
.hardware-container .two-plate-hanger .a {
  /*border: 3px solid red;*/
  width: auto;
  height: auto;
  grid-area: text;
}
.hardware-container .two-plate-hanger .a .copy {
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
}
.hardware-container .two-plate-hanger .a .copy .item-name {
  /* ORDER */
  font-family: "Roboto Medium", sans-serif;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
}
.hardware-container .two-plate-hanger .c {
  grid-area: plates;
}
.hardware-container .two-plate-hanger .d {
  grid-area: cart;
  text-align: left;
  /*padding-left: 8%;*/
  padding-left: 15px;
}
.hardware-container .two-plate-hanger .fghi {
  display: flex;
}
.hardware-container .two-plate-hanger .fghi img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.hardware-container .five-plate-hanger {
  /*border: 3px blue solid;*/
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/repeat(7, 1fr);
  grid-template-areas: "heading heading heading heading heading plates plates" "text    text    text    text    text    plates plates" "text    text    text    text    text    plates plates" "text    text    text    text    text    plates plates" "text    text    text    text    text    plates plates" "blank    heart   ram     scroll  tear    plates plates";
  /*    .a {
      }*/
}
.hardware-container .five-plate-hanger .box {
  /*background-color: #EDEDED;*/
  /*border: 3px solid red;*/
}
.hardware-container .five-plate-hanger .box .block-id-letter {
  display: none;
}
.hardware-container .five-plate-hanger .aa {
  grid-area: heading;
  padding-top: 5%;
  padding-left: 7%;
}
.hardware-container .five-plate-hanger .b {
  /*border: 3px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-area: text;
}
.hardware-container .five-plate-hanger .b .paragraph {
  padding-left: 25px;
}
.hardware-container .five-plate-hanger .b form {
  padding-left: 50px;
}
.hardware-container .five-plate-hanger .b form table {
  /*border: 3px solid red;*/
}
.hardware-container .five-plate-hanger .b form table tr {
  /*border: 3px solid red;*/
}
.hardware-container .five-plate-hanger .b form table tr td {
  /*border: 3px solid red;*/
  padding-right: 25px;
  text-align: left;
}
.hardware-container .five-plate-hanger .b form .button1 {
  /*border: 3px solid red;*/
  display: flex;
}
.hardware-container .five-plate-hanger .d {
  grid-area: plates;
  /*border: 3px solid red;*/
}
.hardware-container .bowl-holders {
  /*    display: grid;
      border: 3px solid red;*/
  /*height: 600px;*/
  /*    width: 90%;
      text-align: center;
      margin: 0 auto;*/
  grid-template: 0.3fr 4fr/40% 40% 20%;
  grid-template-areas: "head head head" "col1 col2 col3";
  /*grid-row-gap: 10px;*/
  /*      "head head"
                         "nav nav" 
                         "info services"
                         "footer footer";*/
  background-color: #EDEDED;
}
.hardware-container .bowl-holders .box {
  background-color: #EDEDED;
  color: black;
}
.hardware-container .bowl-holders .box .heading {
  /* Headlines */
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
  /*  @if $fontUsePercent == true {
      font-size: calc(16px + (32 - 16) * ((1200px - 300px) / (1200 - 300)));
    } @else {
      font-size: 32px;
    }*/
  color: #000000;
  font-weight: bold;
}
.hardware-container .bowl-holders .aa {
  /*border: 3px solid red;*/
  grid-area: head;
  /* Item Name */
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
.hardware-container .bowl-holders .a {
  grid-area: col1;
  padding-top: 50px;
}
.hardware-container .bowl-holders .b {
  grid-area: col2;
  /* Paragraphs */
  font-family: "Roboto Light", sans-serif;
  font-size: 19px;
  /*font-size: 119%;*/
  color: #000000;
  text-align: left;
  padding-left: 10%;
}
.hardware-container .bowl-holders .b form {
  padding-left: 5%;
}
.hardware-container .bowl-holders .c {
  grid-area: col3;
  /*align-self: center;*/
}
@media screen and (min-width: 700px) {
  .hardware-container .bowl-holders .c {
    padding-top: 40%;
  }
}
.hardware-container .bowl-holders .c img {
  /*border: 2px solid red;*/
}

/*# sourceMappingURL=plateHangers.css.map */
