/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 12:36:15 AM
    Author     : Norm
*/


@import "variables";
@import "footer";

.main {
  /*padding-left: 25px;*/
  margin: 0 auto;

  
/*  .heading {
    @include font2;
    text-align: center;
    maxwidth: 400px;
  }*/
  
  .big-heading {
    @include font1;
    text-align: center;
    maxwidth: 400px;
  }
 
  .forged-rods, .curtain-rings, .large-brackets, .small-brackets, .shelf-brackets, .star-shelf-bracket {
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 3fr 3fr / 1fr 1fr;
    /*grid-template-areas: "image copy";*/
    grid-template-areas:  "heading heading" 
                          "image copy"
                          "image copy";
    width: 80%;
    text-align: center;
    /*margin: 0 auto;*/

    
/*    .heading {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      @include font2;
    }*/
    .copy {
      text-align: left;
      font-size: 14px;
      display: block;
      float: left;
      padding: 20px;
      padding: 10px 20px 10px 20px;
      @include font7;
/*      .line1 {
        color: red;
      }*/
      .bold {
        font-weight: bold;
      }
      .red-words {
        @include font17;
        font-weight: bold;
      }
/*      .order-link {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }*/
      .item-name {
        @include font14;
        font-weight: bold;
      }
    }
    /* control narrow version here */
    @include max-mixin(700px) {
      /*display: block;*/
      grid-template: 3fr / 1fr;
      grid-template-areas:  "heading"
                            "image"
                            "copy";  
    }
    background-color: #EDEDED;
    
    .box {
      background-color: #EDEDED;
      color: black;
      /*border: 3px solid red;*/
      /*height: 100px;*/
      .item-name {
        @include font14;
      }
      .paragraph {
        @include font7;
        .red-words {
          @include font17;
        }
      }
      .order {
        @include font9;
        font-weight: bold;
      }
      .item-name {
        @include font14;
        font-weight: bold;
      }
    }  
    .a {
      /*border: 3px solid red;*/
      grid-area: copy;
    }
    .b {
      /*border: 3px solid red;*/
      grid-area: image;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*justify-content: flex-start;*/
      padding-left: 40px;
      @include max-mixin(700px) {
        padding-left: 0;
      }
    }
    .c {
      grid-area: heading;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
}