/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2018, 11:44:46 PM
    Author     : Norm
*/

@import "variables";
@import "footer";

.show-debug {
    /*display: inline;*/
    display: none;
}

/*.heading {
text-align: center;
  @include font2;
}*/

.paragraph {
    /*border: 3px solid red;*/
    width: 100%;
    @include font7;
    /*margin: 0 auto;*/
}
.wide-paragraph {
    /*border: 3px solid red;*/
    width: 80%;
    @include font7;
    margin: 0 auto;
}

.image-text {
    width: 100%;
    /*border: 3px solid blue;*/
    font-size: 19px;
    text-align: center;
}
.sub-heading {
    text-align: center;
    @include font2;
}

.main {
    width: 80%;
    margin: 0 auto;
    @include max-mixin(500px) {
        padding-left: 0;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    @include max-mixin(700px) {
        grid-template-columns: 1fr;
    }
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding-top: 25px;

    .block-id-letter,
    .block-id-image {
        display: none;
    }
    .sub-heading {
        text-align: center;
        @include font2;
    }

    .box {
        /*border: 3px solid red;*/
        width: 100%;
        img {
            /*height: 100%;*/
            width: 100%;
            height: auto;
            /*width: 400px;*/
            height: auto;
        }
        .text {
            /*border: 0px solid red;*/
            /*font-size: 19px;*/
        }
        
        .image-text {
            //   border: 3px solid blue;
            font-size: 19px;
            /*margin-top: -25px;*/
            //   max-width: 400px;
            width: 100%;
            text-align: center;
            @include font12;
        }
    }
}
