/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 12:36:25 AM
    Author     : Norm
*/


@import "variables";
@import "footer";

.plate-holders {
    display: grid;
    background-color: #EDEDED;
    background-size: cover;
    width: 90%;
    height: auto;
//    grid-template-columns: 2fr 1.2fr;
    /*grid-template-columns: 70% 30%;*/
    grid-template-columns: auto auto;
    grid-template-rows: .5fr 2fr 1fr 1fr;
    column-gap: 10px;
    
    @include max-mixin(1050px) {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2fr 2fr 1fr 1fr;
        padding-left: 25px;
        padding-right: 25px;
    }

    // .box {
    //     border: solid 3px red;
    // }

    .b {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        @include max-mixin(1050px) {
            grid-column: 1 / span 1;
            grid-row: 5 / span 1;
        }
        width: 100%;
        justify-self: center;
        padding-left: 20px;
    }
    .bb {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        justify-items: center;
        text-align: center;
        align-self: center;
        width: 40vw;
        width: 100%;
    }
    
    .a {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        /*align-self: center;*/
        width: auto;
        /*height: 400px;*/
    }
    
    .f {
        grid-column: 2 / span 1;
        grid-row: 3 / span 2;
        @include max-mixin(1050px) {
            grid-column: 1 / span 1;
            grid-row: 6 / span 2;
        }
    }
    
    .g {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .c, .d, .e {
        display: flex;
        flex-direction: column;
        /*width: 50%;*/
        img {
            width: 50%;
        }
    }
    
    .item-name {
        @include font14;
    }
    
    .paragraph {
        @include font7;
        .red-words {
            @include font17;
        }
    }
    
    .order {
        @include font9;
        font-weight: bold;
    }
    
    .item-name {
        @include font14;
        font-weight: bold;
    }
    
    form {
        justify-self: end;
        text-align: right;
        color: red;
    }

}