/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 12:36:25 AM
    Author     : Norm
*/

@import "variables";
@import "footer";

.hardware-container {
    // padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*  .heading {
        @include font2;
        text-align: center;
        width: 90%;
      }*/

    .big-heading {
        @include font1;
        text-align: center;
        width: 90%;
    }

    .plate-holders,
    .plate-hangers {
        // border: 3px solid red;
        display: grid;
        // grid-column-gap: 25px;
        width: 80%;
        text-align: center;
        /*margin: 0 auto;*/

        .heading {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            @include font2;
        }
        .copy1,
        .copy2 {
            text-align: left;
            font-size: 14px;
            display: block;
            padding: 20px;
            @include font7;
            .bold {
                font-weight: bold;
            }
            .red-words {
                @include font17;
                font-weight: bold;
            }
            .item-name {
                @include font14;
                font-weight: bold;
            }
            @include max-mixin(500px) {
                width: 100%;
                // padding-left: 0;
            }
        }

        background-color: #ededed;

        .box {
            background-color: #ededed;
            color: black;
            /*border: 3px solid red;*/
            /*height: 100px;*/
            width: 80%;
            height: auto;
            .item-name {
                @include font14;
            }
            .paragraph {
                @include font7;
                .red-words {
                    @include font17;
                }
            }
            .order {
                @include font9;
                font-weight: bold;
            }
            .item-name {
                @include font14;
                font-weight: bold;
            }
            form {
                justify-self: end;
                text-align: left;
                color: black;
                // font-size: 10px;
                @include max-mixin(360px) {
                    font-size: 16px;
                }
            }
        }
    }

    /******************************************
      plate-holders
    *******************************************/
    $breakpt1: 0; // 1100px;

    .plate-holders {
        /*border: 3px solid red;*/
        width: 80%;
        padding-left: 25px;
        @include max-mixin(500px) {
            width: 100%;
        }
        grid-template-columns: repeat(5, 20%);

        .picture {
            /*height: 400px;*/
            // grid-area: plates;
            width: 70vw;
            grid-row: 3 / span 3;
            grid-column: 1 / span 3;
            align-self: center;
            img {
                width: 100%;
                height: auto;
            }
        }
        .heading {
            // border: 3px  solid red;
            width: 100%;
            // grid-area: text;
            grid-row: 1 / span 2;
            grid-column: 1 / span 4;
            @include max-mixin($breakpt1) {
                grid-column: 1 / span 3;
            }
            font-size: 14px;
            text-align: center;
            padding-top: 40px;
            @include max-mixin(500px) {
                padding-left: 0;
            }
        }
        .heart,
        .ram,
        .scroll {
            // border: 3px  solid red;
            justify-items: start;
            display: inline-block;
            align-self: center;
            justify-items: left;
            height: 50px;
            width: 80px;
            @include max-mixin(400px) {
                // width: 50px;
            }
            img {
                width: 60%;
                height: 60%;
                // @include max-mixin($breakpt1) {
                //     width: 10%;
                //     height: 10%;
                // }
            }
        }
        .models {
            // border: 3px solid red;
            // padding-left: 25px;
            @include max-mixin(650px) {
                padding-left: 10px;
            }
            // z-index: 10;
            padding-right: 15px;
            margin: 15px;
            grid-row: 6 / span 1;
            grid-column: 1 / span 1;
            align-self: center;
            width: 100px;
            @include max-mixin(500px) {
                display: flex;
                grid-row: 6 / span 1;
                grid-column: 1 / span 1;
                width: 250px;
                height: 75px;
            }
        }
        .buy-it {
            // border: 3px solid red;
            // padding-left: 15px;
            // grid-area: cart;
            // padding-left: 50px;
            grid-row: 6 / span 1;
            grid-column: 3 / span 3;
            width: auto;
            text-align: left;
            justify-self: left;
            @include max-mixin(500px) {
                grid-row: 7 / span 1;
                grid-column: 1 / span 3;
                justify-self: center;
                padding-left: 25px;
            }
            // @include font7;
            @include max-mixin(360px) {
                font-size: 16px;
            }
            table {
                /*border: 1px solid black;*/
                tr {
                    td {
                        /*border: 1px solid black;*/
                    }
                }
            }
        }
    }

    /******************************************
     one-plate-hanger
    *******************************************/
    .plate-hangers {
        @include max-mixin(500px) {
            width: 100%;
        }
        display: grid;
        grid-row-gap: 10px;
        padding-top: 25px;

        .heading {
            grid-row: 1 / span 1;
            grid-column: 1 / span 3;
        }
        .copy1 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 3;
        }

        .picture {
            grid-row: 3 / span 2;
            grid-column: 1 / span 2;
        }
        .picture2 {
            grid-row: 3 / span 2;
            grid-column: 3 / span 1;
            @include max-mixin(500px) {
                grid-row: 5 / span 2;
                grid-column: 1 / span 2;
            }
        }
        // .pictures {
        //     display: flex;
        //     justify-content: space-around;
        //     @include max-mixin(550px) {
        //         flex-direction: column;
        //     }
        // }

        .heart,
        .ram,
        .scroll,
        .spade {
            // border: 3px  solid red;
            justify-items: start;
            display: inline-block;
            align-self: center;
            justify-items: left;
            height: 60px;
            width: 80px;
            @include max-mixin(400px) {
                width: 50px;
            }
            img {
                width: 60%;
                height: 60%;
                // @include max-mixin($breakpt1) {
                //     width: 10%;
                //     height: 10%;
                // }
            }
            padding-bottom: 25px;
        }
        .models {
            // border: 3px solid red;
            // padding-left: 25px;
            // padding-right: 15px;
            // margin: 15px;
            grid-row: 3 / span 1;
            grid-column: 3 / span 2;
            align-self: center;
            width: 100%;
            height: auto;
            color: red;
            display: flex;
            flex-direction: column;
            z-index: 1;
            @include max-mixin(500px) {
                grid-row: 5 / span 1;
                grid-column: 1 / span 2;
                flex-direction: row;
            }
        }
        .copy2 {
            grid-row: 5 / span 1;
            grid-column: 1 / span 3;
        }

        .buy-it {
            // border: 3px solid red;
            padding-left: 15px;
            // grid-area: cart;
            padding-left: 50px;
            grid-row: 6 / span 1;
            grid-column: 1 / span 4;
            width: auto;
            text-align: center;
            justify-self: center;
            @include max-mixin(500px) {
                grid-row: 7 / span 1;
                justify-self: left;
            }
            width: 30vw;
            height: auto;
            // @include font7;
            @include max-mixin(360px) {
                font-size: 16px;
            }
            table {
                /*border: 1px solid black;*/
                tr {
                    td {
                        /*border: 1px solid black;*/
                    }
                }
            }
        }
        padding-bottom: 25px;
    }

    /******************************************
      bowl-holders
    *******************************************/
    .bowl-holders {
        display: block;
    }
}
