/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2018, 8:08:38 AM
    Author     : Norm
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 11:41:16 AM
    Author     : Norm
*/

@import "variables";
@import "footer";


/*.banner {
  border: 3px solid blue;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-templates-areas: "blank block cart";
	justify-content: center;
  justify-items: center;

  .banner-block {
    border: 3px solid red;
    grid-area: block;
  }
  .shopping-cart {
    border: 3px solid red;
    grid-area: cart;
  }
}*/



body {
}

.title-block {
  /*border: 3px solid red;*/
  width: 80%;
  margin: 0 auto;
  display: grid;
  @include max-mixin(700px) {
    display: block;
  }
  grid-template-columns: 45% 45% 10%;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  grid-template-areas: "t c i";
    /*display: flex;*/
  
  .box {
    /*border: 3px solid red;*/
    display: flex;
/*    @include max-mixin(700px) {
      display: block;
    }*/
    align-items: center;
  }
  .title {
    grid-area: t;
    /*border: 3px solid red;*/
    width: 100%;
/*    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;*/
    text-align: center;
    @include font1;
    @include max-mixin(700px) {
      @include font2;
    }
  }
  .copy {
    /*border: 3px solid red;*/
    width: 80%;
    padding-left: 45px;
    grid-area: c;
    display: flex;
    @include max-mixin(700px) {
      display: block;
    }
    flex-direction: column;
    
    @include font7;
    .brand {
      /*border: 3px solid red;*/
      display: inline;
      @include font4;
    }
    @include max-mixin(700px) {
      @include font15;
      .brand {
        /*border: 3px solid red;*/
        display: inline;
        @include font3;
      }
    }
  }
  .logo {
    grid-area: i;
    display: inherit;
    @include max-mixin(700px) {
      display: none;
    }
  }
  .logo-small {
    grid-area: i;
    display: none;
    @include max-mixin(700px) {
      display: inherit;
      text-align: center;
    }
  }
}

.main {
  width: 80%;
  margin: 0 auto;
  display: grid;
/*  @include max-mixin(700px) {
    display: block;
  }*/

  $r1: 400px;
  grid-template: $r1 $r1 $r1 / 400px 400px;
  grid-template-areas: "a b"
                       "c d"
                       "e f";
  @include max-mixin(700px) {
    grid-template: $r1 / 400px;
    grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  
  .box {
    /*border: 3px solid red;*/
    /*margin: 30px;*/
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
    /*padding-top: 28px;*/
    height: auto;
  }
  .e {
    grid-area: e;
  }
  .f {
    grid-area: f;
  }
}

.end-msg {
  text-align: center;
  @include font8;
}