/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2018, 10:50:08 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");

.back-to-top {
    text-align: right;
}

%font-credit-brand {
    font-family: "Major Mono Display", monospace;
    font-weight: 800;
}

%font-credit-name {
    font-family: "Open Sans", sans-serif;
}

%font-credit-tagline {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;

    h5, h3 {
        color: black;
    }
}

.footer2 {
    // border: 3px solid red;
    overflow: hidden;
    margin-top: 25px;
    padding-bottom: 50px;
    // max-width: 1200px;
    margin: 0 auto;

    .footer-block {
        // outline: 3px solid green;
        // height: 200px;
        // background-color: #ededed;
        background: #aaacad 0% 0% no-repeat padding-box;
        opacity: 1;
        margin: 0 auto;
        text-align: center;
        // height: 400px;
        padding-top: 15px;
        padding-bottom: 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        .heading {
            // outline: 3px solid red;
            font-family: "IM Fell English SC", serif;
            font-size: 25px;
            color: #000000;
            display: flex;
            flex-direction: row;
            @include max-mixin(350px) {
                // flex-direction: column;
            }
            h1 {
                margin-right: 5px;
                margin-left: 10px;
                @include max-mixin(1000px) {
                    font-size: 40px;
                }
                @include max-mixin(750px) {
                    font-size: 32px;
                }
                @include max-mixin(500px) {
                    font-size: 24px;
                }
                @include max-mixin(400px) {
                    font-size: 20px;
                }
            }
            img {
                width: 59px;
                @include max-mixin(1000px) {
                    width: 40px;
                }
                // @include max-mixin(750px) {
                //     font-size: 32px;
                // }
                @include max-mixin(500px) {
                    width: 25px;
                }
                @include max-mixin(400px) {
                    display: none;
                }
            }
        }

        .sub-heading {
            text-align: center;
            font: normal normal medium 20px/26px Roboto;
            font-size: 26px;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;

            @include max-mixin(1000px) {
                font-size: 22px;
            }
            @include max-mixin(750px) {
                font-size: 22px;
            }
            @include max-mixin(500px) {
                font-size: 20px;
            }
            @include max-mixin(400px) {
                font-size: 18px;
            }
        }
    }

    .middle-stuff {
        // outline: 3px solid red;
        margin-top: 15px;
        margin-bottom: 20px;
        // height: 165px;
        max-width: 1000px;
        width: 100%;
        display: grid;
        // grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-columns: 2fr 2fr 2fr 1fr 3fr;
        @include max-mixin(700px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .visit {
            // outline: 3px solid red;
            @include max-mixin(700px) {
                // display: none;
            }
            padding-bottom: 15px;

            .map {
            }
            // h3 {
            //     text-align: center;
            //     font: normal normal normal 16px/22px Open Sans;
            //     letter-spacing: 0px;
            //     color: #000000;
            //     opacity: 1;
            // }
            a .map {
                iframe {
                    width: 120px;
                    height: 122px;
                    // @include max-mixin(700px) {
                    //     width: 80px;
                    //     height: 82px;
                    // }
                }
            }
        }
        .hoodies {
            // outline: 3px solid red;
            @include max-mixin(700px) {
                // display: none;
            }
            a {
                img {
                    // @include max-mixin(700px) {
                    //     width: 80px;
                    // }
                }
            }
            padding-bottom: 15px;
        }

        .contact-info {
            // outline: 3px solid red;
        }

        .facebook {
            // outline: 3px solid red;
            align-self: center;
            justify-self: flex-end;
            width: 100%;
            // padding-left: 50px;
            img {
                // width: 50px;
            }
            padding-bottom: 15px;
        }
        .craft-weekend {
            // outline: 3px solid blue;
            @include max-mixin(700px) {
                // display: none;
            }
        align-self: center;
            img {
                height: 145px;
                @include max-mixin(700px) {
                    // height: 80px;
                }
            }
        }

        .contact-block {
            // outline: 3px solid black;
            height: 148px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include max-mixin(700px) {
                height: 100px;
            }

            .contact-info {
                // outline: 3px solid blue;
                width: 100%;
                align-self: center;
                justify-self: center;
                // padding-left: 70px;
                // padding-right: 60px;
                display: flex;
                flex-direction: column;
            }
            .link-block {
                // outline: 3px solid green;
                width: 80%;
                justify-self: flex-end;

                // justify-content: space-between;
                align-self: flex-end;

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                // height: 23px;
                font: normal normal normal 20px/24px Open Sans;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                margin: 0 auto;
                text-align: center;
                // margin-bottom: 10px;
                // margin-top: 25px;
            }
        }
    }

    .bottom-logo {
        a {
            text-decoration: none;
            .credit-brand {
                font: normal normal normal 20px/22px Major Mono Display;
                letter-spacing: 0px;
                color: #000000;
                font-weight: bold;
            }
            .credit-name {
                color: black;
                font-weight: bold;
            }
        }
    }
}
