/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 10:07:22 PM
    Author     : Norm
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%border {
    border: 3px solid red;
    // max-width: 1200px;
}


@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno|Roboto:300,300i,400,500,700");
/*
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Italianno', cursive;
*/

@font-face {
    font-family: Andulus;
    src: local("D:\Development\ScottishWroughtIron\public_html\fonts\Andalus\2.ttf");
}

$fontUsePercent: true;

@mixin font0 {
    /* testing */
    font-family: Arial;
    font-size: 38px;
}

// Header – Brand IM Fell English SC 36pt, 48 px, 3em, 300%    #000000
@mixin font1 {
    font-family: "IM Fell English SC", serif;
    @include max-mixin(620px) {
        font-size: 28px;
    }
    @include min-max-mixin(620px, 901px) {
        font-size: 38px;
    }
    @include min-mixin(901px) {
        font-size: 36px;
    }
    color: #000000;
    font-weight: bold;
}

// Headlines IM Fell English SC for Headlines 24 pt, 32 px #000000
@mixin font2 {
    /* Headlines */
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
    color: #000000;
    font-weight: bold;
}

// Headlines M IM Fell English SC for Headlines 16pt, 22px #000000
@mixin font2M {
    /* Headlines */
    font-family: "IM Fell English SC", serif;
    font-size: 22px;
    color: #000000;
}

// Navigation Menu IM Fell English SC 14pt, 19px, 1.2em, 120%    #000000
@mixin font3 {
    /* Navigation Menu */
    font-family: "IM Fell English SC", serif;
    font-size: 19px;
    color: #000000;
}

// TermsM - IM Fell English SC 21pt, 28px. #000000
@mixin font4 {
    /* Terms */
    font-family: "IM Fell English SC", serif;
    font-size: 28px;
    color: #000000;
}

// TermsM - IM Fell English SC 14pt 19px #000000
@mixin font4M {
    /* TermsM */
    font-family: "IM Fell English SC", serif;
    font-size: 19px;
    color: #000000;
}

// Footer – IM Fell English SC  16pt, 22px, 1.4 em. 100% medium #000000
@mixin font5 {
    /* Footer */
    font-family: "IM Fell English SC", serif;
    font-size: 22px;
    color: #000000;
}

// Footer small – IM Fell English SC 11pt, 15px, .95 em 95% #000000
@mixin font6 {
    /* Footer  small */
    font-family: "IM Fell English SC", serif;
    font-size: 15px;
    color: #000000;
}

// Paragraphs - Roboto Light 14pt, 19px, 1.2 em., 120% #000000
@mixin font7 {
    /* Paragraphs */
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    /*font-size: 119%;*/
    color: #000000;
}
// Paragraphs - Roboto Light 14pt, 19px, 1.2 em., 120% #000000
@mixin fontParagraph {
    /* Paragraphs */
    font-family: "Roboto Light", sans-serif;
    color: #000000;
    @include max-mixin(500px) {
        font-size: 12px;
    }
    @include min-max-mixin(501px, 700px) {
        font-size: 14px;
    }
    @include min-mixin(601px) {
        font-size: 16px;
    }
}

// Links – Roboto Light 14pt., 19px, 1.2 em. 120% #230FD2
@mixin font8 {
    /* Links */
    font-family: "Roboto Light", sans-serif;
    font-size: 19px;
    color: $purple230FD2;
}

// Links M Roboto Light 12pt., 16px, 1em. 100% #230FD2
@mixin font8M {
    /* Links */
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    color: $purple230FD2;
}

// ORDER Roboto Medium 14pt, 19px, 1.2 em 120% #000000
@mixin font9 {
    /* ORDER */
    font-family: "Roboto Medium", sans-serif;
    font-size: 19px;
    color: #000000;
}

// Index Links – Roboto Medium 21pt., 28px. #230FD2
@mixin font10 {
    /* Index Links */
    font-family: "Roboto Medium", sans-serif;
    font-size: 28px;
    color: $purple230FD2;
}

@mixin font10small {
    /* Index Links */
    font-family: "Roboto Medium", sans-serif;
    font-size: 16px;
    font-style: italic;
    color: purple230FD2;
}

// Quotes – Roboto Light Italic 14pt, 19px 1.2 em 120% #000000
@mixin font11 {
    /* Quotes */
    /*font-family: 'Roboto Light Italic', sans-serif;*/
    font-family: "Roboto:300i", sans-serif;
    font-style: italic;
    font-size: 19px;
    color: #000000;
}

// Quotes M Roboto Light Italic 12pt, 16px, 1em  #000000
@mixin font11M {
    /* Quotes */
    font-family: "Roboto:300i", sans-serif;
    font-size: 16px;
    color: #000000;
}

// Captions – Roboto Light Italic 11pt, 15px, .95em 95% #000000
@mixin font12 {
    /* Captions */
    font-family: "Roboto Light Italic", sans-serif;
    font-size: 15px;
    color: #000000;
}

// Address – Roboto Regular 21pt, 28px, #000000
@mixin font13 {
    /* Address */
    font-family: "Roboto Regular", sans-serif;
    font-size: 28px;
    color: #000000;
}

// ITEM NAME – Roboto Regular 18pt, 24px., 2 em, 200% xx large #000000
@mixin font14 {
    /* Item Name */
    font-family: "Roboto Regular", sans-serif;
    font-size: 24px;
    color: #000000;
}

// Paragraph M - Roboto Regular 12pt, 16px, 1em 100% #000000
@mixin font15 {
    /* Paragraph M */
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
    color: #000000;
}

// CREDIT  - Andulus 14pt, 19px, 1.2 em, 120% #000000
@mixin font16 {
    /* Credit */
    font-family: "Andulus", serif;
    font-size: 19px;
    color: #000000;
}

// Red Words - Roboto Bold 14pt, 19px, 1.2em, 120% #700707
@mixin font17 {
    /* Red Words */
    font-family: "Roboto Bold", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #700707;
}

// Village Weaver link – Italianno 12pt, 16px, 1 em, 100% #230FD2
@mixin font18 {
    /* Village Weaver Link */
    font-family: "Italianno", cursive;
    font-size: 16px;
    color: $purple230FD2;
}

// image labels Roboto Medium 14pt, 19px 1.2em, 120% #FAFABF6
@mixin font19 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 19px;
    color: #404040;
}

body {
    font-family: "Roboto", sans-serif;
}

body {
    // font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1200 - 300)));
}

//Grey navigation box #D9D98D4
$navigationBoxGrey: #d9d9d4;
$mainFont: "IM Fell English SC", serif;
$secondFont: "Roboto", sans-serif;
$hoverColor: rgba(82, 67, 216, 0.65);
$footerBackgroundColor: #d9d9d4;
$purple230FD2: #230fd2;

.block-id-letter {
    /*display: inline;*/
    display: none;
    border: 2px solid black;
    font-size: 1em;
}

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}

.spacer10 {
    height: 10px;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin garden-row() {
    /*border: 0px solid red;*/
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 25px;
}

@mixin garden-col {
    width: 50%;
    /*border: 0px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;

    .garden-col-img {
        /*border: 0px solid red;*/
    }
    .garden-col-text {
        /*border: 0px solid green;*/
        width: auto;
        text-align: center;
    }
}

.signature {
    .signature-block {
        @include font4;
    }
}

.heading {
    text-align: center;
    @include font2;
}

.sub-heading {
    text-align: center;
    @include font2;
}

.small-sub-heading {
    text-align: center;
    @include font3;
    font-weight: bold;
}
