/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:52:55 PM
    Author     : Norm
*/

/*@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import "common";

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .title {
        /*border: 2px solid red;*/
        /*padding-top: 25px;*/
        margin: 0 auto;
        @include font1;
        @include max-mixin(700px) {
            @include font2M;
        }
        text-align: center;
        padding-bottom: 25px;
        font-size: 24px;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;

    }


    .terms {
        text-align: left;
        @include min-mixin(700px) {
            padding-left: 7%;
        }

        img {
            border: 3px solid red;
            width: 80%;
            @include max-mixin(900px) {
                width: 50%;
                margin: 0 auto;
            }
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
        }
        .row-copy {
            width: 80%;
            @include font7;
        }
        .rowL-heading {
            @include font2;
            @include max-mixin(500px) {
                @include font4M;
            }
            font-weight: bold;
        }
        .block-id-letter {
            display: none;
        }
        .row-copyl {
            @include font7;
            @include max-mixin(500px) {
                @include font15;
            }
        }
    }
    .box {
        border: 3px solid red;
    }
    .greeting {
        width: 70%;
        margin: 0 auto;

        .copy {
            /*border: 2px solid red;*/
            align-self: center;
            padding-right: 20px;
            padding-left: 20px;
            @include font7;
            @include max-mixin(700px) {
                @include font11;
            }
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            .title {
                /*border: 2px solid red;*/

                margin: 0 auto;
                @include font2;
                @include max-mixin(700px) {
                    @include font2M;
                }
                text-align: center;
                font-size: 24px;
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
            }
        }
        .image {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
        }
    }


    width: 100%;
}

.contact-block {
    width: 90%;
    border: 0px solid blue;
    display: flex;
    .form-container {
        .diagnostic {
            color: red;
            font-weight: bold;
            font-style: italic;
        }
    }
}


.contact-block textArea {
    height: 190px;
    height: auto;
    /*width: 400px;*/
    width: 100%;
}

.contact-container .form-container {
    width: 100%;
    padding-left: 20px;
    text-align: center;
}

.contentBox2a {
    float: left; 
    /*width: 48%;*/ 
    padding: 0; 
    /*margin: 0 2% 0 0;*/
    margin: 0 auto;
    text-align: center;
}

.contentBox2b {
    float: left; 
    /*width: 48%;*/ 
    padding: 0; 
    margin: 0 0 0 2%;
}

form.contactform {
    width: 99%;
    text-align: center;
    margin: 0 auto;
}
.contactform label {
    width: 99%;
    text-align: left;
    font-style: italic;
    display: block;
    margin-bottom: 4px;
}
.contactform input {
    width: 99%;
    border: 1px #ccc solid;
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 10px;
    color: #000000;
}
.contactform textarea {
    width: 99%;
    border: 1px #ccc solid;
    background-color: #f5f5f5;
    padding: 5px;
    resize: none;
    color: #000000;
}
.contactform .submit {
    width: 100px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    color: #444;
    font: 16px 'Oswald', Verdana, Helvetica, sans-serif;
    font-weight: normal;
    padding: 2px 18px;
    text-decoration: none;
    background-color: #f8f8f8;
    background: linear-gradient(#f8f8f8, #d8d8d8);
    border: solid 1px #d8d8d8;
    border-radius: 5px;
}
.contactform .submit:hover {
    text-decoration: none;
    color: #fff;
    background-color: #7b88c5;
    background: linear-gradient(#7b88c5, #435299);
    border: solid 1px #435299;
    border-radius: 5px;
}

.thankyou-container {
    font-family: "Open Sans";
    font-size: 1.2rem /*20px*/;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.thankyou-text {
    width: 40%;
}

.thankyou-phyllis {
    display: flex;
    justify-content: flex-end;
}


.contact-container .statement {
    border: 0px solid blue;
    width: 70%;
    font-style: italic; 
}

.contact-container ul {
    list-style: none;
}

.contact-container li {
    font-size: 1.375rem /*22px*/;
}

.contact-container li span {
    font-style: italic;
}


@media only screen and (min-width: 900px) {
    .contact-block {
        flex-direction: row;
    }
    .contact-image {
        /*width: 80%;*/
        position: relative;
        top: 70px;
    }
}

@media only screen and (max-width: 900px) {
    .contact-block {
        flex-direction: column;
    }
    .contact-container .form-container {
        padding: 25px;
    }
}


@media only screen and (min-width: 900px) {
    .contact-block {
        flex-direction: row;
    }
    .contact-image {
        /*width: 80%;*/
        position: relative;
        top: 70px;
    }
}

@media only screen and (max-width: 900px) {
    .contact-block {
        flex-direction: column;
    }
    .contact-container .form-container {
        padding: 25px;
    }
}

@media only screen and (max-width: 450px ) {
    .contact-block {
        .big-image {
            display: none;
        }
        .small-image {
            display: inherit;
        }
    }
}

@media only screen and (min-width: 450px ) {
    .contact-block {
        .big-image {
            display: inherit;
        }
        .small-image {
            display: none;
        }
    }
}
