/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 14, 2018, 10:56:05 PM
    Author     : Norm
*/

@import "common";

@mixin hide-letter-a {
  .block-id-a {
    display: none;
  }
}

.show-debug {
  /*display: inline;*/
  display: none;
}

/*.heading {
text-align: center;
  @include font1;
}*/

.paragraph {
  /*border: 3px solid red;*/
  width: 100%;
  @include font7;
  /*margin: 0 auto;*/
}
.wide-paragraph {
  /*border: 3px solid red;*/
  width: 80%;
  @include font7;
  margin: 0 auto;
}

.image-text {
  width: 100%;
  /*border: 3px solid blue;*/
  font-size: 19px;
  text-align: center;
}
.sub-heading {
  text-align: center;
  @include font2;
}
.brand {
  @include font4;
}



.main {
  width: 80%;
  margin: 0 auto;
  /*padding-left: 25px;*/
  @include max-mixin(500px) {
    padding-left: 0;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  @include max-mixin(700px) {
    grid-template-columns: 1fr;
  }
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  padding-top: 25px;
  

  .box {
    @include hideAll;
    width: 100%;
/*    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;*/
    /*text-align: center;*/
    /*width: 400px;*/
/*    height: 400px;
    minwidth: 400px;
    maxwidth: auto;*/
    height: auto;
    
    
    .title {
      @include font2;
    }
    .copy {
      @include font7;
      text-align: left;
      .brand {
        @include font4;
      }
    }
    .image-text {
      /*border: 3px solid blue;*/
      font-size: 19px;
      /*margin-top: -25px;*/
      max-width: 400px;
      height: auto;
      text-align: center;
      @include font12;
      padding-top: 10px;
    }
  }
    
  
  .g0 {
    border: 2px solid black;
    max-height: 400px;
    max-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 2fr;*/

    grid-template-areas: "text tallImage"
                          "smallImage tallImage";


/*            <img src="../images/sun_sun_dial.jpg">
        </div>
        <div class="box g3"><span class="block-id-g3">G3</span>
          <img src="../images/snail_small.jpg">*/

    .g1 { 
      /*border: 2px solid red;*/
      display: block;
      width: 80%;
      grid-area: text;
      @include font7;
    }
    .g2 {
      /*border: 2px solid red;*/
      padding-left: 10px;
      grid-area: tallImage;
      /*align-content: stretch;*/
/*      background-image: url(".../images/sun_sun_dial.jpg");
      background-size: cover;*/
    }
    .g3 {
      /*border: 2px solid red;*/
      grid-area: smallImage;
/*      background-image: url(".../images/snail_small.jpg");
      background-size: cover;*/
    }
  }
  .snall-and-sundial {
      padding-top: 20px;
      width: 100%;
      margin: 0 auto;
      @include font7;
  }
    

}

