/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 11:41:16 AM
    Author     : Norm
*/



@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import "common";

.index-container {
    // border: 3px solid red;
    width: 50%;
    margin: 0 auto;
    grid-gap: 20px;
    /*padding-left: 25px;*/
    @include max-mixin(500px) {
        padding-left: 0;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include max-mixin(1025px) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        grid-gap: 20px;
    }
    @include max-mixin(725px) {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    @include max-mixin(500px) {
        grid-template-columns: 1fr;
        width: 90%;
    }
    grid-gap: 50px;
    justify-content: center;
    /*align-items: end;*/

    .box {
        // border: 3px solid red;
        text-align: center;
        img {
            width: 210px;
            max-width: 210px;
            height: 250px;
            // width: 35vw;
            // @include max-mixin(650px) {
            //     width: 85vw;
            // }
            height: auto;
        }
        .text {
            font-family: 'Patrick Hand', cursive;
            font-size: 20px;
            color: #000000
        }
        &:hover {
            @include min-mixin(700px) {
                transform: scale(1.2, 1.2);
            }
        }
    }

    // .box1 {
    //     // border: 3px solid red;
    //     text-align: left;
    //     width: 250px;
    //     // @include font7;
    //     font-size: 16px;
    //     @include max-mixin(500px) {
    //         font-size: 16px;
    //         @include font15;
    //     }
    //     @include min-mixin(600px) {
    //         padding-top: 25px;
    //         .upper-paragraph {
    //             .brand-block {
    //                 @include font4;
    //                 @include max-mixin(700px) {
    //                     font-size: 16px;
    //                     @include font3;
    //                 }
    //             }
    //         }
    //     }
    //     .upper-paragraph {
    //         font-size: 16px;
    //     }
    //     .lion-image {
    //         /*border: 3px solid red;*/
    //         padding-left: 25px;
    //         padding-top: 25px;
    //         width: 200px;
    //         height: 200px;
    //         height: auto;
    //         img {
    //             width: 100px;
    //             height: 100px;
    //             /*min-width: 150px;*/
    //             @include max-mixin(950px) {
    //                 width: 100px;
    //             }
    //             @include max-mixin(850px) {
    //                 display: none;
    //             }
    //             height: auto;
    //         }
    //     }
    // }
}

.bottom-text {
    // font-size: 20px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.sayings {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 25px;

    .centered-paragraph {
        width: 60%;
        @include font7;
        @include max-mixin(700px) {
            @include font15;
        }

        .brand-block {
            @include font4;
            @include max-mixin(700px) {
                @include font3;
            }
        }
    }
}

.garden-col {
    box-sizing: border-box;
}
