/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2018, 11:44:46 PM
    Author     : Norm
*/
@import "common";

body {
    @include hideAll;
}

.show-debug {
    /*display: inline;*/
    display: none;
}

/*.heading {
text-align: center;
  @include font2;
}*/

.paragraph {
    /*border: 3px solid red;*/
    width: 100%;
    width: 35vw;
    @include font7;
    margin: 0 auto;
}
.wide-paragraph {
    /*border: 3px solid red;*/
    width: 70%;
    /*width: 50vw;*/
    @include font7;
    margin: 0 auto;
}
.wide-paragraph-left {
    /*border: 3px solid red;*/
    width: 80%;
    /*width: 50vw;*/
    @include font7;
    margin: 0 auto;
}
.heading-paragraph {
    /*border: 3px solid red;*/
    width: 80%;
    /*width: 50vw;*/
    @include font7;
    margin: 0 auto;
}

.image-text {
    width: 100%;
    /*width: 35vw;*/
    /*border: 3px solid blue;*/
    font-size: 19px;
    text-align: center;
    justify-self: center;
}
.sub-heading {
    text-align: center;
    @include font2;
}

.process {
    // border: 3px solid red;
    width: 95%;
    /*margin: 0 auto;*/
    // justify-self: start;
    text-align: left;
    @include font7;
    ul {
        // border: 3px solid red;
        padding-left: 50px;
        // justify-self: start;
        li {
            // justify-self: start;
            @include font7;
            a {
                color: #000000;
            }
        }
    }
}

.main {
    width: 80%;
    margin: 0 auto;
    @include max-mixin(500px) {
        padding-left: 0;
    }
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: auto;
    @include max-mixin(700px) {
        grid-template-columns: 1fr;
    }
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding-top: 25px;
    justify-content: center;

    .block-id-letter, .block-id-image {
        display: none;
    }
    .sub-heading {
        text-align: center;
        @include font2;
    }

    .box {
        // border: 3px solid red;
        width: 100%;
        img {
            /*height: 100%;*/
            /*      width: 100%;
                  height: auto;
                  width: 400px;
                  height: 400px;*/
            /*min-width: 400px;*/
            /*height: auto;*/
            width: 35vw;
            @include max-mixin(700px) {
                width: 50vw;
                justify-self: center;
                width: 100%;
            }
            justify-items: center;
        }
        
        .text {
            /*border: 0px solid red;*/
            /*font-size: 19px;*/
        }
        .image-text {
            // border: 3px solid blue;
            font-size: 19px;
            /*margin-top: -25px;*/
            /*max-width: 35vw;*/
            /*width: 35vw;*/
            text-align: center;
            @include font12;
        }
        .wide-paragraph {
            /*border: 3px solid red;*/
            width: 80%;
            /*max-width: 35vw;*/
            width: 35vw;
            @include font7;
            /*margin: 0 auto;*/
            @include max-mixin(700px) {
                width: 50vw;
                justify-content: center;
            }
        }

    }
    .c {

    }
    /*  .z {
        border: 3px solid red;
        .image-text {
          border: 3px solid red;
          width: 100%;
        }
      }*/


    //   .box img {
    //       &:hover {
    //           transform: scale(2, 2);
    //       }
    //   }
}
.end-msg {
    text-align: center;
    @include font1;
    font-size: 16px;
    a {
        @include font1;
        text-decoration: none;
        font-size: 16px;
    }
}
